nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #D8D3C9;
    padding-top: 10px;
}


.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
}

