.footerImage {
    width: 180px;
    height: 270px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 5%;
    background-color: #d8d3c9;
    ;
}

.footerMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 0.3;
    font-family: 'Montserrat', sans-serif !important
}

.columnMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.footerMobile {
    display: none;
}
@media only screen and (max-width: 934px) {
    .footer {
        display: none;
    }
    .footerMobile {
        display: block !important;
    }
}
