.frontAuthRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 8%
}

.frontAuthRowDesc {
    flex: 0.6;
}

.backRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 8%;
}

.backRowDesc {
    flex: 0.6;
}

.acknowledgments {
    max-width: 50%;
    margin-left: 25%;
    padding-bottom: 5%;
}

.firstAuthRowFrontImage img {
    width: 270px !important;
    height: 350px !important;
    object-fit: contain;
}

.backRowBackImage img {
    width: 270px !important;
    height: 350px !important;
}
.desktop {
    background: #D8D3C9 !important;
}
.mobile {
    background: #D8D3C9 !important;
}

@media only screen and (max-width: 934px) {
    .frontAuthRow {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 8%
    }
}