.frontAuthRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 8%
}

.frontAuthRowDesc {
    flex: 0.6;
}

.backRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 8%;
}

.backRowDesc {
    flex: 0.6;
}

.acknowledgments {
    max-width: 50%;
    margin-left: 25%;
    padding-bottom: 5%;
}

.firstAuthRowFrontImage img {
    width: 270px !important;
    height: 350px !important;
}

.backRowBackImage img {
    width: 270px !important;
    height: 350px !important;
}