img {
  border-radius: 10px;
}

.leftSemiCircle {
  width: 60px;
  height: 120px;
  border-radius: 12rem 0 0 12rem;
  background-color: #c281d1;
  opacity: 0.5;
}
.rightSemiCircle {
  width: 45px;
  height: 90px;
  border-radius: 0 12rem 12rem 0;
  background-color: #edce92;
  margin-top: 260px;
}
.purple {
  color: #c281d1;
}
.mainPara {
  max-width: 70%;
  font-family: 'Open Sans', sans-serif;
  font-size: larger;
  margin-top: 50px;
}


#bannerSection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6% 8% 0 8%;
  background-image: url("../../../public/assets/images/bg_main2.png");
  /* background: #d8d3c9; */
  /* height: 40%; */
}
.leftDiv {
  text-align: left;
  font-family: 'Roboto Mono', monospace;
}

.rightDiv {
  display: flex;
}

.testRightDiv {
  display: flex;
  width: 50%;
}
.testLeftDiv {
  display: flex;
  width: 50%;
}

.testRightDiv img {
  width: 270px;
  height: 350px;
}
.rightDiv img {

  width: 510px;
  height: 570px;
}

.bannerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 20px 20px;
  background-color: #d8d3c9;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bookHeading {
  font-family: 'Montserrat', sans-serif;
  font-size: larger;
}

.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  /* height: 100px; */
  /* margin-top: 125px; */
  border-color: black;
  cursor: pointer;
}
.testimonial {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 8% 0% 8%;
  background: #d8d3c9;
}
.control-dots {
  margin-top: 10% !important;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);

  border-right: 2px solid black;
  border-bottom: 2px solid black;
  margin: 0 0 3px 4px;

  width: 16px;
  height: 16px;
}

.unu {
  margin-top: 1px;
}

.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;

  animation-direction: alternate;
  animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.2s;
  animation-direction: alternate;

  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.3s;
  animation-direction: alternate;

  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid black;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: black;
  position: relative;

  height: 4px;
  width: 4px;
  border: 2px solid black;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-o-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.App {
  text-align: center;
}

.myCounter {
  color: black;
  text-shadow: 1px 0 #888888;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: x-large;
  font-family: 'Montserrat', sans-serif;
}

.bookContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #d8d3c9;
  padding: 8%;
}
.bookNumber p {
  font-family: 'Montserrat', sans-serif;
  font-size: larger;
}
.bookDesc {
  flex: 0.35;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.bookDesc p {
  text-align: left;
  font-family: 'Open Sans', sans-serif;

}
.authorHeading {
  font-family: 'Montserrat', sans-serif;
  font-size: larger;
  font-weight: bolder;
}
.authorDescPara {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  /* font-size: larger; */
  /* font-weight: bolder; */
}
.centered button {
  font-family: 'Montserrat', sans-serif;
  width: 150px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: #706248;
  position: relative;
  cursor: pointer;
}
.centered button:hover {
  background-color: #edce92;
  border-radius: 10px;
  border-style: solid;
  border-color: #706248;
  color: black;
}
.bookNumbers {
  flex: 0.431;
}
.bookNumbers p {
  text-align: center !important;
}

.bookImage img {
  width: 270px;
  height: 350px;
}
.mainImage:hover {
  transform: scale(1.08);
}
.book:hover {
  transform: scale(1.08);
}
.bookImage:hover {
  transform: scale(1.08);
}
.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8%;
  background-color: #d8d3c9;
}

.authorImage {
  flex: 0.8;
  display: flex;
  justify-content: center;
}

.authorDesc {
  text-align: center;
  max-width: 50%;
}
.authorImage img {
  width: 380px;
  height: 380px;
}
.mainImage {
  cursor: pointer;
}

.reviews {
  width: 64% !important;
  margin: auto !important;
  margin-top: 3% !important;
}

.reviews .slide {
  /* background: #d8d3c9; */
  color: black;
  height: 100%;
}

.reviews .slide img {
  width: 400px !important;
  border-radius: 0% !important;
}

.carousel2 {
  margin-top: -6%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 7%;
  height: 1000px;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 20% !important;
}

.carousel2 h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.carousel2 h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 14px;
}

.carousel2 p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
}

.carousel2 p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.carousel2 p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.reviews .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.reviews.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}
.reviews {
  height: 35vw !important;
}
@media only screen and (max-width: 934px) {
  .authorImage img {
    width: 300px;
    height: 300px;
  }
  .bookImage img {
    width: 250px;
    height: 330px;
  }
  .mainPara {
    margin-top: 10px !important;
  }
  .mainImage {
    width: 320px !important;
    height: 450px !important;
  }
  .upperHeading {
    display: none;
  }
  .authorDesc {
    max-width: 100% !important;
  }
  .reviews {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
    height: 65vw !important;
  }

  .reviews.carousel-slider .control-arrow {
    display: none !important;
  }
  .carousel2 {
    background: #fafafa;
    margin-top: -9%;
    width: 88% !important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 350px !important;
  }

  .reviews .slide img {
    width:100% !important;
    border-radius: 50%;
  }
  .carimg {
    width: 90% !important;
  }
}

.reviewContainer {
  padding-top: 2%;
}

.rightAloneSvg {
  position: absolute;
  width: 56px;
  height: 26.13px;
  left: 658px;
  top: 291.6px;

  /* transform: rotate(-45deg); */
}
.leftAloneSvg {
  position: absolute;
  width: 56px;
  height: 26.13px;
  left: 58px;
  top: 120px;
  transform: rotate(45deg);
  animation: rotation 1s linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(404deg);
  }
}
.buyNow {
  background-color: black;
  color: white;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  /* font-size: larger; */
  letter-spacing: 0.2em;
}
.buyNow:hover {
  background-color: #edce92;
  color: black;
}
.quote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  /* width: 500px; */
  /* margin: 0.25em 0; */
  /* padding: 0.35em 40px; */
  /* line-height: 1.45; */
  position: relative;
  color: #c281d1;
}

.quote:before {
  display: block;
  padding-right: 5px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -200px;
  top: -20px;
  color: #c281d1;
}

.invertedQuote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  /* width: 500px; */
  /* margin: 0.25em 0; */
  /* padding: 0.35em 40px; */
  /* line-height: 1.45; */
  position: relative;
  color: #c281d1;
}
.invertedQuote:before {
  display: block;
  padding-right: 5px;
  content: "\201D";
  font-size: 80px;
  position: absolute;
  left: 150px;
  top: 20px;
  color: #c281d1;
}

.thickLine {
  position: absolute;
  left: 125px;
  top: 341.6px;
  opacity: 0.9;
}

.mainHeading {
  z-index: 10000 !important;
  font-family: 'Roboto Mono', monospace;
}

.myLine {
  color: #edce92;
  position: relative;
  bottom: 28px;
  width: 34.8%;
  margin-right: 73%;
  border: 5px solid #edce92;
  opacity: 0.7;
  border-radius: 20px;
  /* background-color: ; */
}
@media only screen and (max-width: 934px) {
  .sectionTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* padding: 2% 8% 0% 8%; */
    background: #d8d3c9;
  }
  .sectionThree {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .sectionThree div {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
  }
  .sectionThree .bookNumbers {
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
  }
  .authorDescPara {
    padding: 0 5%;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block !important;
  }
  .leftSemiCircle {
    width: 40px;
    height: 80px;
  }
  .rightSemiCircle {
    width: 40px;
    height: 80px;
  }
  .sectionOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .sectionFour {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  }
  .mainHeading {
    padding-top: 19px;
    font-size: larger;
    /* font-family: Helvetica, sans-serif; */
    font-family: 'Roboto Mono', monospace;
  }
  .myLine {
    margin-top: 25px;
    width: 250px;
  }
  .quote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    /* width: 500px; */
    /* margin: 0.25em 0; */
    /* padding: 0.35em 40px; */
    /* line-height: 1.45; */
    position: relative;
    color: #c281d1;
  }
  
  .quote:before {
    display: block;
    padding-right: 5px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -100px;
    top: -20px;
    color: #c281d1;
  }
  
  .invertedQuote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    /* width: 500px; */
    /* margin: 0.25em 0; */
    /* padding: 0.35em 40px; */
    /* line-height: 1.45; */
    position: relative;
    color: #c281d1;
  }
  .invertedQuote:before {
    display: block;
    padding-right: 5px;
    content: "\201D";
    font-size: 80px;
    position: absolute;
    left: 100px;
    top: 20px;
    color: #c281d1;
  }
  .bookNumbers {
    padding-top: 20px;
  }
}

.mobile {
  display: none;
}

.socialContainer {
  padding-top: 5px;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
}
